:root{
    --color-green:hsl(75, 94%, 57%);
    --color-white:hsl(0, 0%, 100%);
    --color-gray-700:hsl(0, 0%, 20%);
    --color-gray-800:hsl(0, 0%, 12%);
    --color-gray-900:hsl(0, 0%, 8%);

    --font-family-base:"Inter", sans-serif;
    --font-weight-light:400;
    --font-weight-bold:600;
    --font-weight-extrabold:700;

    --font-size-xs:0.75rem;
    --font-size-sm:0.875rem;
    --font-size-base:1rem;
    --font-size-xl:1.5rem;

    --space-xs:0.5rem;
    --space-sm:0.75rem;
    --space-md:1rem;
    --space-lg:1.5rem;
    --space-xl:2rem;

    --border-sm:0.25rem;
    --border-md:0.5rem;
    --border-lg:1.25rem;
    --border-xl:1.5rem;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul{
    list-style: none;
}

body{
    color: var(--color-white);
    background-color: var(--color-gray-900);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--font-family-base);
    font-size: var(--font-size-sm);
}

.card{
    border-radius: var(--border-md);
    background-color: var(--color-gray-800);
    padding: var(--space-lg);
    width: 100%;
    max-width: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}

.card__avatar{
    height: auto;
    width:5rem;
    border-radius: 100%;
}

.card__links{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    width: 100%;
}

.card__links-btn{
    display: block;
    background-color: var(--color-gray-700);
    border-radius: var(--border-sm);
    padding: var(--space-sm);
    text-align: center;
    font-weight: var(--font-weight-bold);
    transition: background-color 0.2s ease, color 0.2s ease;
}

.card__links-btn:hover,
.card__links-btn:focus-visible{
    background-color: var(--color-green);
    color: var(--color-gray-900);
}

.card__header{
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.card__description{
    opacity: 0.6;
    max-width: 85%;
    font-size: var(--font-size-sm);
}

.card__name{
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-extrabold);
}

.card__location{
    color: var(--color-green);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
}

@media (min-width:768px){
    .card{
        max-width:24rem;
    }
}